<layout name="layout:layout"/>
<!-- 内容主体区域 -->
<div id="content">
    <div class="layui-fluid">
        <form class="layui-form layui-form-fixed" action="/index/user/protection">
            <div class="layui-form-item">
                <label class="layui-form-label">{:__('密保问题')}</label>
                <div class="layui-input-inline" style="width: 260px">
                    <select name="question" lay-verify="required">
                        <volist name="validate" id="vo">
                            <option value="{$vo}">{$vo}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:__('密保答案')}</label>
                <div class="layui-input-inline" style="width: 260px">
                    <input name="answer" placeholder="{:__('请输入密保答案')}" type="text" class="layui-input"
                           autocomplete="off" lay-verify="required"/>
                </div>
            </div>

            <div class="layui-footer layui-form-item layui-center">
                <button class="layui-btn layui-btn-primary" type="button" sa-event="closeDialog">{:__('取消')}</button>
                <button class="layui-btn layui-btn-normal" lay-filter="submitIframe" data-reload="parent" lay-submit>{:__('提交')}</button>
            </div>
        </form>
    </div>
</div>
