<include file="/public/header" />
<link href="__STATICADMIN__css/message.css" rel="stylesheet" type="text/css" />
<!-- // 重定位Style -->
<style>
    .face {
        margin-bottom: 3px;
    }
</style>
<div id="instant-content" class="layui-card">
    <div class="layui-card-body">
        <div class="layui-panel">
            <div class="layui-card-header">
                <div class="title"><span class="titles"><img src="{$detail.face|default=''}" class="face" width="20"> </span>{$detail.nickname|default='隐藏用户'}</div>
                <div class="time"><span class="times">时间：</span>{$detail.create_time}</div>
            </div>
            <div id="layui-info">{$detail.content|raw}</div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            <button type="button" class="layui-btn layui-btn-normal" lay-open data-title="回复私信" data-url="#replyForms" data-area="500px,350px"  >回复</button>
            <button type="button" class="layui-btn layui-btn-danger" sa-event="closeDialog" >关闭</button>
        </div>
    </div>
</div>

<script type="text/html" id="replyForms">
    <div class="layui-fluid layui-bg-white" >
        <form action="{:url('/system/admin/saveNotice')}" class="layui-form">
            <input type="text" name="type" value="message" hidden>
            <input type="text" name="admin_id" value="{$detail.send_id}" hidden>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red; ">* </span>{:__('标题')}</label>
                <div class="layui-input-block" >

                    <input type="text" name="title" class="layui-input" lay-verify="required" value="" placeholder="请输入私信标题">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red; ">* </span>{:__('回复内容')}</label>
                <div class="layui-input-block">
                    <textarea name="content" class="layui-textarea" lay-verify="required" placeholder="请输入私信内容"></textarea>
                </div>
            </div>

            <div class="layui-footer layui-form-item layui-center "  >
                <button class="layui-btn layui-btn-primary" type="button" sa-event="closePageDialog" >{:__('取消')}</button>
                <button class="layui-btn" lay-filter="submitPage" lay-submit>{:__('提交')}</button>
            </div>
        </form>
    </div>
</script>

<include file="/public/footer" />
