<include file="/public/header" />
<link href="__STATICADMIN__css/message.css" rel="stylesheet" type="text/css" />
<!-- // 重定位Style -->
<style></style>
<div id="instant-content" class="layui-card">
    <div class="layui-card-body">
        <div class="layui-panel">
            <div class="layui-card-header">
                <div class="title"><span class="titles">🔔 </span>{$detail.title}</div>
                <div class="time"><span class="times">时间：</span>{$detail.create_time}</div>
            </div>
            <div id="layui-info">{$detail.content|raw}</div>
            <div class="layui-banner">
                <p>本消息属系统通知，来源于业务流程管理系统，请勿回复</p>
                <p>在系统使用过程中，如果有问题请联系网站运维组：## </p>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            <button type="button" class="layui-btn layui-btn-danger" sa-event="closeDialog" >关闭</button>
        </div>
    </div>
</div>

<include file="/public/footer" />
